@use "./var" as *;
@use "./mixins" as *;

html {
    font-size: calc(100vw / 896 * 10);
    @include mobile {
        font-size: calc(100vw / 500 * 10);
    }
}
body {
    height: 100%;
    width: 100%;
    padding: 0;
    overflow: hidden;
    font-family: "Montserrat", serif;
}

input {
    outline: 0;
}

ul,
li {
    padding: unset;
    margin: unset;
    list-style: none;
}

* {
    margin: 0;
    padding: 0;
}

button {
    border: unset;
}

.btn {
    cursor: pointer;
    &.disable {
        pointer-events: none;
        opacity: 0.5;
    }
    &.opacity {
        opacity: 0.5;
    }
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}
